body {
	min-width: 960px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	background: #000000 url("../img/body-bg.jpeg") no-repeat center top;
	color: #ffffff;
}
.inner-page {
	background: #f8f5f2 url("../img/bg-light-pattern.jpeg") repeat;
	color: #000000;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}
.btn {
	display: inline-block;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	color: #ffffff;
	background: #000000;
	cursor: pointer;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	vertical-align: top;
	padding: 10px 33px;
	margin-right: 16px;
	border: none;
	outline: none;
}
.btn:hover,
.btn:active {
	background: #663d15;
}
.btn.btn_disabled,
.btn:disabled {
	cursor: default;
	opacity: 0.5;
}
.btn.btn_disabled:hover,
.btn:disabled:hover {
	background: #000000;
}
.checkbox {
	display: inline-block;
	vertical-align: top;
	margin-right: 25px;
	width: 20px;
	height: 20px;
}
.checkbox-label {
	display: inline-block;
}
.radiobtn {
	display: inline-block;
	vertical-align: top;
	margin-right: 25px;
	width: 20px;
	height: 20px;
}
.radiobtn-label {
	display: block;
}
.list {
	margin: 0;
	padding: 14px 0;
	list-style: none;
}
.list li {
	position: relative;
	margin: 0;
	padding: 0;
	padding-left: 20px;
}
.list li:before {
	content: "";
	position: absolute;
	width: 7px;
	height: 7px;
	background: #000000;
	top: 8px;
	left: 0;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.list-loose li {
	margin-bottom: 13px;
}
.list-tight li {
	line-height: 20px;
	margin-bottom: 5px;
}

.page-header {
	color: #ffffff;
	background: #000000;
	margin-bottom: 60px;
}
.main-navigation {
	float: left;
	width: 780px;
	margin-right: 10px;
}
.main-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0; /*pixel-perfect - без этого свойства*/
}
.main-navigation li {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 20px;
}
.main-navigation a {
	display: block;
	padding: 26px 20px;
	color: #ffffff;
	font-weight: 700;
	text-decoration: none;
}
.main-navigation span {
	display: block;
	padding: 26px 20px;
}
.main-navigation a:hover {
	background: #242424;
}
.main-navigation .inner-logo {
	float: left;
	width: 111px;
	height: 20px;
	padding-top: 24px;
}
.main-navigation .inner-logo:hover {
	background: none;
}
.main-navigation .inner-logo img{
	width: 111px;
	height: 24px;
}
.main-navigation .active {
	position: relative;
	background: none;
}
.main-navigation .active::after {
	content: "";
	position: absolute;
	height: 4px;
	right: 20px;
	bottom: 0;
	left: 20px;
	background: #ffffff;
}
.main-navigation .active a:hover {
	background: none;
}
.user-block {
	float: right;
	max-width: 140px;
}
.user-block .login {
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 20px;
	padding: 26px 22px 26px 50px;
	color: #ffffff;
	text-decoration: none;
}
.user-block .login::before {
	content: "";
	position: absolute;
	top: 28px;
	left: 20px;
	width: 18px;
	height: 18px;
	background: url("../img/sprite.png") no-repeat -15px -119px;
	opacity: 0.3;
}
.user-block .login:hover {
	background: #242424;
}
.user-block .login:hover::before {
	opacity: 1;
}
.index-logo {
	display: block;
	width: 368px;
	height: 204px;
	margin: 0 auto 20px;
}
.features {
	margin-bottom: 80px;
}
.features-item {
	float: left;
	width: 300px;
	margin-right: 20px;
	text-align: center;
}
.features-item:last-child {
	margin-right: 0;
}
.features-name {
	display: block;
	position: relative;
	font-size: 30px;
	line-height: 42px;
	padding-bottom: 38px;
	margin-bottom: 30px;
}
.features-name::after {
	content: "";
	background: #ffffff;
	position: absolute;
	width: 20px;
	height: 20px;
	left: calc(50% - 10px);
	bottom: 0px;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.features-item p {
	margin: 10px;
	margin-bottom: 0;
}
.index-content {
	margin-bottom: 35px;
	padding: 50px 80px;
	background: url("../img/index-content-divider.png") no-repeat center,
		#f8f5f2 url("../img/bg-light-pattern.jpeg");
	color: #000000;
}
.index-content-left {
	float: left;
	width: 350px;
	padding-right: 30px;
}
.index-content-right {
	float: right;
	width: 300px;
}
.index-content-title {
	margin: 0;
	margin-bottom: 25px;
	font-size: 30px;
	line-height: 42px;
}
.index-content p {
	margin: 0;
	margin-bottom: 25px;
}
.news-preview {
	margin: 0;
	padding: 0;
	padding-right: 35px;
	list-style: none;
}
.news-preview li {
	margin-bottom: 25px;
}
.news-preview p {
	margin: 0;
}
.news-preview time {
	font-weight: 400;
	text-transform: lowercase;
}
.gallery {
	position: relative;
	height: 260px;
}
.gallery-content {
	margin: 0;
	height: 164px;
	background: #cccccc;
	border: 7px solid #ffffff;
}
.gallery-content img {
	width: 286px;
	height: 164px;
}
.gallery .btn {
	position: absolute;
	bottom: 0;
	width: 140px;
	margin: 0;
}
.gallery-btn_prev {
	left: 0;
}
.gallery-btn_next {
	right: 0;
}
.appointment-form input {
	width: 106px;
	padding: 7px 15px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	font: inherit;
	text-transform: uppercase;
	color: #000000;
	border: 2px solid #000000;
	background: #f9f6f3;
	outline: none;
}
.appointment-form input::-webkit-input-placeholder {
	color: #000000;
}
.appointment-form input:-ms-input-placeholder {
	color: #000000;
}
.appointment-form input::placeholder {
	color: #000000;
}
.appointment-form input:nth-child(2n){
	margin-right: 0;
}
.appointment-form .btn{
	clear: both;
	width: 100%;
}
.appointment-form input:focus,
.appointment-form input:hover {
	border: 2px solid #663d15;
}
.appointment-form input:hover::-webkit-input-placeholder,
.appointment-form input:focus::-webkit-input-placeholder {
	color: #663d15;
}
.appointment-form input:hover:-ms-input-placeholder,
.appointment-form input:focus:-ms-input-placeholder {
	color: #663d15;
}
.appointment-form input:hover::placeholder,
.appointment-form input:focus::placeholder {
	color: #663d15;
}
.page-footer {
	margin-top: 65px;
	padding-top: 60px;
	padding-bottom: 40px;
	background: #252525 url("../img/footer-bg.jpg");
	color: #ffffff;
}

.page-footer p{
	margin: 0;
	margin-bottom: 15px;
	text-align: center;
}
.page-footer-contacts {
	float: left;
	width: 320px;
	margin-right: 60px;
	text-align: right;
}
.page-footer-contacts p{
	text-align: left;
	margin-bottom: 0;
}
.page-footer-contacts a {
	color: #ffffff;
}
.page-footer-contacts a:hover {
	text-decoration: none;
}
.page-footer-social {
	float: left;
	width: 200px;
	text-align: center
}
.btn_social {
	width: 43px;
	height: 43px;
	padding: 0;
	margin: 0 2px;
	background: #000000 url("../img/sprite.png") no-repeat center;
	font-size: 0;
}
.btn_social:hover {
	background: #ffffff url("../img/sprite.png") no-repeat center;
}
.btn_vk {
    background-position: -6px -299px;
}
.btn_fb {
    background-position: 1px -57px;
}
.btn_inst {
    background-position: -3px -206px;
}
.btn_vk:hover {
    background-position: -6px -253px;
}
.btn_fb:hover {
    background-position: 1px -5px;
}
.btn_inst:hover {
    background-position: -3px -155px;
}
.page-footer-copyright {
	float: right;
	max-width: 180px;
}
.page-footer-copyright .btn {
	margin: 0;
}
.page-footer-copyright .btn:hover {
	color: #000000;
	background: #ffffff;
}

.popup {
	/*display: none;*/
}
.popup-show {
	display: block;
}
.popup-btn-close {
	position: absolute;
	top: 10px;
	right: -32px;
	width: 22px;
	height: 22px;
	font-size: 0;
	border: 0;
	outline: 0;
	background: none;
	cursor: pointer;
}
.popup-btn-close::before,
.popup-btn-close::after {
	content: "";
	position: absolute;
	width: 26px;
	height: 4px;
	top: 8px;
	left: -3px;
	background: #ffffff;
	border-radius: 1px;
}
.popup-btn-close::before {
	transform: rotate(45deg);
}
.popup-btn-close::after {
	transform: rotate(-45deg);
}
.popup h2 {
	margin: 0;
	margin-bottom: 25px;
	font-size: 30px;
	line-height: 42px;
}
.popup p {
	margin: 0;
	margin-bottom: 15px;
}
.login-popup {
	position: absolute;
	top: 120px;
	left: 50%;
	margin-left: -230px;
	padding: 50px 80px;
	width: 300px;
	height: 280px;
	z-index: 100;
	background: #f8f5f2 url(../img/bg-light-pattern.jpeg);
	color: #000000;
	box-shadow: 0 30px 50px rgba(0,0,0,.75);
}
.login-popup .login-form {
	margin: 0;
	margin-bottom: 15px;
}
.login-form .username,
.login-form .password {
	margin: 0;
	margin-bottom: 10px;
	width: 241px;
	padding: 10px 20px;
	padding-right: 35px;
	border: 2px solid #000000;
	outline: 0;
	font-size: 14px;
	line-heignt: 24px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	background-color: #f9f6f3;
}
.login-form input:focus {
	border-color: #663d15;
}
.login-form .username {
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
	background-position: 100% 0px;
}
.login-form .password {
	ackground-image: url(../img/sprite.png);
	background-repeat: no-repeat;
	background-position: 100% 0px;
}
.login-form .password-restore {
	float: right;
	color: #000000;
}
.login-form .password-restore:hover {
	text-decoration: none;
}

/* CUSTOM CHECKBOX */
.checkbox-label {
	position: relative;
	margin-bottom: 15px;
	padding-left: 30px;
	cursor: pointer;
}
.checkbox-label:hover {
	color: #663d15;
}
.checkbox-label input[type=checkbox] {
	display: none;
}
.checkbox-label .checkbox-indicator {
	position: absolute;
	left: 0;
	width: 18px;
	height: 18px;
	border: 2px solid #000000;
}
.checkbox-label input[type=checkbox]:checked + .checkbox-indicator::before,
.checkbox-label input[type=checkbox]:checked + .checkbox-indicator::after {
	content: "";
	position: absolute;
	top: 8px;
	width: 18px;
	height: 2px;
	background: #000000;
	border-radius: 1px;
}
.checkbox-label .checkbox-indicator::before {
	transform: rotate(45deg);
}
.checkbox-label .checkbox-indicator::after {
	transform: rotate(-45deg);
}

.inner-page .page-header {
	margin-bottom: 55px;
}
.inner-page-title {
	margin-bottom: 55px;
}
.inner-page-title h1 {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	font-size: 30px;
	line-height: 42px;
}
.breadcrumbs {
	margin: 0;
	padding: 0;
	list-style: none;
}
.breadcrumbs li {
	position: relative;
	display: inline;
	padding-right: 40px;
}
.breadcrumbs li:not(:last-child)::after {
	content: "";
	position: absolute;
	top: 6px;
	right: 16px;
	width: 7px;
	height: 7px;
	background: #000000;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.breadcrumbs a {
	text-decoration: none;
	color: #000000;
}
.breadcrumbs a:hover {
	text-decoration: underline;
}
.breadcrumbs .current {
	color: #aba9a7;
}
.inner-content {
	margin-bottom: 75px;
}
.inner-content h2 {
	margin: 0;
	margin-top: 60px;
	margin-bottom: 30px;
	font-size: 24px;
	line-height: 30px;
}
.inner-content p {
	margin: 14px 0;
}
.inner-content table {
	border-collapse: collapse;
}
.inner-content td {
	border: 2px solid #000000;
	padding: 10px 15px;
}
.inner-page .page-footer {
	margin-top: 45px;
}

.pricelist-promotitle {
	margin-top: 55px;
	margin-bottom: 65px;
	text-align: center;
	position: relative;
}
.pricelist-promotitle h2 {
	margin: 0;
	padding: 0;
	font-size: 48px;
	line-height: 48px;
}
.pricelist-promotitle::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 160px;
	height: 2px;
	background: #000000;

}
.pricelist-promotitle::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	width: 160px;
	height: 2px;
	background: #000000;
}
.price-table {
	width: 100%;
}
.price-table td {
	width: 50%;
}
.price-table td:nth-child(2n) {
	text-align: center;
}
.inner-columns {
	margin: 60px 0;
}
.inner-column-left,
.inner-column-right {
	width: 460px;
}
.inner-column-left {
	float: left;
}
.inner-column-right {
	float: right;
}
.inner-column-left *:first-child,
.inner-column-right *:first-child {
	margin-top: 0;
}
.inner-column-left *:last-child,
.inner-column-right *:last-child {
	margin-bottom: 0;
}

/*******ITEM********/
.product-photos {
	width: 460px;
	float: left;
	font-size: 0;
	line-height: 0;
	vertical-align: top;
}
.product-photo {
	-webkit-box-shadow: 0px 0px 15px #cccccc;
	        box-shadow: 0px 0px 15px #cccccc;
}
.product-photo-main {
	margin: 0;
	margin-bottom: 20px;
}
.product-photo-small {
	margin: 0;
	margin-right: 20px;
}
.product-photo-small:last-child {
	margin: 0;
}
.product-info {
	padding-top: 25px;
	padding-right: 10px;
	float: right;
	width: 380px;
}
.product-presence {
	float: left;
	margin-bottom: 35px
}
.product-number {
	float: right;
	color: #aeaeae;
	margin-bottom: 35px
}
.product-description {
	margin-bottom: 35px;
}
.product-description p{
	margin: 0;
	margin-bottom: 15px;
}
.product-buy {
	margin-bottom: 60px;
}
.product-price {
	padding: 10px 30px;
	display: inline-block;
	background: #e5e5e5;
	text-align: center;
}
.product-buy-btn {
	margin-left: -3px;
	padding: 10px 20px;
}
.product-contents-label {
	margin: 0;
	margin-bottom: 30px;
	font-size: 24px;
	line-height: 32px;
}

/************SHOP*****************/
.products-filter {
	float: left;
	width: 210px;
	padding: 0;
	margin: 0;
	margin-right: 20px;
	margin-bottom: 45px;
}
.products-filter-fieldset {
	border: none;
}
.fieldset-title {
	margin: 0;
	margin-bottom: 25px;
	font-size: 24px;
	line-height: 32px;
}
.products {
	float: right;
	width: 700px;
	font-size: 0;
	line-height: 0;
	margin-bottom: 45px;
}
.products-item {
	display: inline-block;
	width: 220px;
	vertical-align: top;
	background: #ffffff;
	font-size: 14px;
	line-height: 20px;
	-webkit-box-shadow: 0px 0px 15px #cccccc;
	        box-shadow: 0px 0px 15px #cccccc;
	margin-right: 20px;
	margin-bottom: 20px;
}
.products-item:nth-child(3n) {
	margin-right: 0;
}
.products-item:nth-last-child(3),
.products-item:nth-last-child(2),
.products-item:nth-last-child(1) {
	margin-bottom: 0;
}
.products-item:hover {
	-webkit-box-shadow: 0px 0px 40px #cccccc;
	        box-shadow: 0px 0px 40px #cccccc;
}
.products-item-photo {
	width: 220px;
	height: 165px;
	margin-bottom: 10px;
}
.products-item-name {
	color: #000000;
	text-decoration: none;
	display: block;
	padding: 0 15px 15px 15px;
}
.products-item-name:hover {
	color: #aba9a7;
}
.products-item-category {
	text-transform: none;
	display: block;
}
.products-item-buy {
	margin: 0 15px 15px 15px;
	font-size: 0;
}
.products-item-price {
	padding: 10px 25px;
	display: inline-block;
	background: #e5e5e5;
	text-align: center;
	font-size: 14px;
	line-height: 20px;
	width: 68px;
}
.products-item-buy-btn {
	padding: 10px 15px;
	display: inline-block;
	line-height: 20px;
	margin-right: 0;
}


.pagination {
	margin-left: 240px;
	clear: both;
	font-size: 0;
}
.pagination ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.pagination li {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 24px;
	position: relative;
}
.pagination-btn {
	padding: 10px 20px;
	margin-right: 7px;
}
.pagination-current-page {
	display: inline-block;
	color: #000000;
	background: #ffffff;
	cursor: default;
	text-align: center;
	vertical-align: top;
	padding: 10px 20px;
	margin-right: 7px;
}

/*
.pagination li:not(:last-child):after {
	content: "";
	position: absolute;
	width: 7px;
	height: 7px;
	background: #000000;
	right: 16px;
	top: 8px;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.pagination a {
	text-decoration: none;
	color: #000000;
	margin-right: 40px;
}
.pagination a:hover {
	color: #aba9a7;
}

.pagination-current-page {
	color: #aba9a7;
}



/* sprite styles
.sprite {
    background-image: url("");
    background-repeat: no-repeat;

.sprite-fb-black {
    width: 12px;
    height: 22px;
    background-position: -15px -15px;
}

.sprite-fb-white {
    width: 12px;
    height: 22px;
    background-position: -15px -67px;
}

.sprite-icon-login {
    width: 18px;
    height: 16px;
    background-position: -15px -119px;
}

.sprite-inst-black {
    width: 21px;
    height: 21px;
    background-position: -15px -165px;
}

.sprite-inst-white {
    width: 21px;
    height: 21px;
    background-position: -15px -216px;
}

.sprite-vk-black {
    width: 25px;
    height: 16px;
    background-position: -15px -267px;
}

.sprite-vk-white {
    width: 25px;
    height: 16px;
    background-position: -15px -313px;
}
*/

/*scrollbar styles:
::-webkit-scrollbar -- панелька
::-webkit-scrollbar-button -- кнопки вверх/вниз
::-webkit-scrollbar-track -- полоска под бегунком
::-webkit-scrollbar-track-piece -- полоска без бегунка
::-webkit-scrollbar-thumb -- бегунок
::-webkit-scrollbar-corner -- уголок пересечения верт. и гориз. прокрутки
::-webkit-resizer -- изменение размера в уголке
*/
